---
import type { Language } from '@/i18n/config'
import Button from '@/components/Button.astro'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import Navbar from '@/components/Navbar.astro'
import CodeCopyButton from '@/components/Widgets/CodeCopyButton.astro'
import GithubCard from '@/components/Widgets/GithubCard.astro'
import ImageZoom from '@/components/Widgets/ImageZoom.astro'
import MediaEmbed from '@/components/Widgets/MediaEmbed.astro'
import SoundEffect from '@/components/Widgets/SoundEffect.astro'
import { themeConfig } from '@/config'
import Head from '@/layouts/Head.astro'
import { getPageInfo } from '@/utils/page'
import '@/styles/comment.css'
import '@/styles/extension.css'
import '@/styles/font.css'
import '@/styles/global.css'
import '@/styles/lqip.css'
import '@/styles/markdown.css'
import '@/styles/transition.css'

interface Props {
  postTitle?: string
  postDescription?: string
  postSlug?: string
  supportedLangs?: Language[]
}

const { postTitle, postDescription, postSlug, supportedLangs = [] } = Astro.props
const { isPost } = getPageInfo(Astro.url.pathname)
const fontStyle = themeConfig.global.fontStyle === 'serif' ? 'font-serif' : 'font-sans'
const MarginBottom = isPost && themeConfig.comment.enabled
  ? 'mb-10' // Post page with comment
  : 'mb-12' // Other pages without comment
const pageShellClass = isPost
  ? 'max-w-[min(92vw,80rem)]'
  : 'max-w-[min(92vw,72rem)]'
---

<html
  lang={Astro.currentLocale}
  class:list={[
    fontStyle,
    isPost ? 'scroll-smooth' : '',
  ]}
>
  <Head {postTitle} {postDescription} {postSlug} />
  <body>
    <div
      class:list={[
        'mx-auto min-h-vh w-full min-h-dvh px-[min(7.25vw,3.731rem)] py-10 lg:(min-h-full px-0 py-16)',
        pageShellClass,
      ]}
    >
      <Header />
      <Navbar />
      <main class:list={[MarginBottom, isPost ? 'lg:pr-[18rem] xl:pr-[19rem]' : '']}>
        <slot />
      </main>
      <Footer />
    </div>
    <Button supportedLangs={supportedLangs} />
    <SoundEffect />
    <CodeCopyButton />
    <GithubCard />
    <MediaEmbed />
    <ImageZoom />
  </body>
</html>
